dist: xenial
language: r
sudo: false
r: 3.6.1

cache:
  packages: true

# blocklist
branches:
  except:
  - dev

# Include all necessary R packages here.
r_packages:
  - shiny
  - shinydashboard
  - xml2
  - httr
  - rvest
  - stringi
  - stringr
  - tidyr
  - dplyr
  - ggplot2
  - rsconnect
  - plotly
  - RColorBrewer

script:
  - R -f runApp.R